# Ignore model files
*.keras
*.h5
*.joblib
models/

# Ignore picture files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tif
*.tiff

# Ignore image and dataset cache
mura_cache/
*.npz

# Ignore Python artifacts
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
*.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# Ignore virtual environments
venv/
code/venv/
*.dll
*.pyd
